footer {
    width: 100%;
    height: 60px;
    background-color:#ff6d23;
    opacity: .5;
  }
  /* footer{
    margin-top: auto;
} */
  
  footer {
    margin: auto;
  }

  .footerh4{
justify-content: center;  
  color: black;
  padding-top: 20px;
  }