header {
    /* align-items: center; */
    /* background: var(--primary); */
    display: flex;
    padding: 15px 5px;
    background-color: rgb(214, 164, 128);
  }
  
  header article,
  header nav {
    width: 50%;
  }
  
  header h1 {
    margin: 0;
    font-size: 50px;
  }
  
  /* header h1 {
    font-weight: 300;
  } */

  /* .search-message img{
    height: 400px;
  } */