header {
    align-items: center;
    background: var(--primary);
    display: flex;
    padding: 25px 15% 35px;
    background-color: rgb(142, 212, 240);
  }
  
  header article,
  header nav {
    width: 50%;
  }
  
  header h1 {
    margin: 0;
    font-size: 46px;
  }
  
  /* header h1 {
    font-weight: 300;
  } */

  .search-message img{
    height: 400px;
  }